version: 2
jobs:
  build:
    working_directory: ~/app
    docker:
      - image: circleci/node:10.22.0
    steps:
      - checkout
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "yarn.lock" }}
          - v1-dependencies-
      - run: yarn
      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "yarn.lock" }}
      - run: yarn run -s format -l
      - run:
          name: Build
          command: yarn build
